/* Styl dla powiadomienia sukcesu */
.toast-success {
  background-color: #0f0f0f; /* Zielony dla sukcesu */
  border-radius: 8px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid white;
}

.toast-success .Toastify__progress-bar {
  background-color: #81C784; /* Jaśniejszy zielony dla paska postępu */
}

/* Styl dla powiadomienia błędu */
.toast-error {
  background-color: #63110b; /* Czerwony dla błędu */
  border-radius: 8px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid white;
}

.toast-error .Toastify__progress-bar {
  background-color: #E57373; /* Jaśniejszy czerwony dla paska postępu */
}
